/* Header styles starts*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.1);
  padding: 5px 15px;
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
}

.logo {
  min-width: 40px;
  width: 50px;
}

.input-box {
  display: flex;
  background-color: #fff;
  border-radius: 25px;
  padding: 8px 15px;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.15);
  align-items: center;
  width: 120px;
  overflow: hidden;
}

.input-box .search-icon {
  color: #787a84;
  font-size: 20px;
}

.input-box input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  background: transparent;
  color: #787a84;
  padding-left: 8px;
  font-size: 14px;
  font-weight: 500;
}

.shopping-cart {
  position: relative;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;

}

.shopping-cart .cart {
  font-size: 30px;
  color: #373848;
}

.shopping-cart .cart-content {
  background-color: #f8901c;
  width: 20px;
  min-width: 20px;
  height: 20px;
  min-height: 20px;
  border-radius: 100%;
  position: absolute;
  top: -8px;
  right: 0;
  text-align: center;
}

.shopping-cart .cart-content p {
  font-weight: 500;
  color: #faf9fb;
}

.profile-container {
  display: flex;
  align-items: center;

}

.profile-container .img-box {
  width: 40px;
  height: 40px;
  min-width: 40px;
  border-radius: 100vw;
  background-color: #444;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.profile-container .img-box .profile-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.profile-container .username {
  font-size: 16px;
  font-weight: 500;
  margin-left: 8px;
  display: none;
  align-items: center;
}

.toggleMenu {
  transform: rotate(90deg);
}

.toggleMenu .toggleIcon {
  color: #373848;
  font-size: 25px;
}

/* Header styles ends*/