.App {
  width: 100vw;
  height: 100vh;
  background-color: #faf9fb;
  overflow-x: hidden;
}

.App::-webkit-scrollbar {
  display: none;
}

/* Main section styles */
main {
  margin-top: 60px;
  width: 100%;
  height: auto;
}

.main-container {
  height: auto;
  width: 100%;
  padding: 10px;
  padding-bottom: 100px;
  background-color: #faf9fb;
}

.banner {
  width: 100%;
  height: 130px;
  border-radius: 10px;
  background: url('https://firebasestorage.googleapis.com/v0/b/food-delivery-37c59.appspot.com/o/Images%2Fbanner.png?alt=media&token=7e244d84-8821-477d-b273-4c9381a474fb') no-repeat center;
  padding: 0px 10px;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0px 10px;

}

.delivery-img {
  position: absolute;
  right: -60px;
  bottom: -10px;
  width: 240px;
}

.banner-content {
  padding: 8px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.banner-content h3 {
  font-size: 18px;
  font-weight: 500;
  color: #2a2b3c;
}

.banner-content p {
  font-size: 14px;
  width: 200px;
  color: #989594;
  margin: 5px 0;
}

.banner-content p span {
  color: #f8901c;
  font-weight: 500;
}

.banner-content a {
  background: #f8901c;
  padding: 5px 15px;
  border-radius: 100vw;
  color: #faf9fb;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.banner-content a:hover {
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
  transition: 0.5s;
}

/* Dish Container */
.dish-container {
  width: 100%;
  padding: 10px 0;
}

.menu-card {
  width: 100%
}

.sub-menu-container,
.view-all {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sub-menu-container h3 {
  font-size: 16px;
  font-weight: 500;
  color: #2a2b3c;
}

.sub-menu-container .view-all p {
  font-size: 12px;
  color: #f8901c;
  font-weight: 400;
}

.sub-menu-container .view-all i {
  background: #f8901c;
  width: 20px;
  height: 20px;
  min-width: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.sub-menu-container .view-all i .MuiSvgIcon-root {
  font-size: 16px !important;
  color: #faf9fb;
}

/* Row Container */
.row-container {
  display: flex;
  align-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
  margin: 10px 0;
  padding: 10px 0;
}

.row-container::-webkit-scrollbar {
  display: none;
}

.row-menu-card {
  width: 80px;
  min-width: 80px;
  height: 100px;
  border-radius: 10px;
  background: #fff;
  margin-right: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
  transition: 0.5s;
  cursor: pointer;
}

.row-menu-card:hover,
.row-menu-card.active {
  background: #f8901c;
}

.row-menu-card .img-box {
  width: 40px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  overflow: hidden;
}

.row-menu-card:hover .img-box,
.row-menu-card.active .img-box {
  background: #faf9fb;
}

.row-menu-card .img-box img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.row-menu-card h3 {
  font-size: 14px;
  font-weight: 500;
  color: #f8901c;
  transition: 0.5s;
}

.row-menu-card:hover h3,
.row-menu-card.active h3 {
  color: #faf9fb;
}


.row-menu-card .load-menu {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background: #f8901c;
  transition: 0.5s;
}

.row-menu-card:hover .load-menu,
.row-menu-card.active .load-menu {
  background: #faf9fb;
}

.row-menu-card .load-menu .MuiSvgIcon-root {
  font-size: 14px !important;
  color: #faf9fb;
}

.row-menu-card:hover .load-menu .MuiSvgIcon-root,
.row-menu-card.active .load-menu .MuiSvgIcon-root {
  color: #f8901c;
}

/* Left menu styles starts */
.bottom-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  background: #d5d5d5;
  border-radius: 25px 25px 0px 0px;
  z-index: 101;
}

.bottom-menu ul {
  display: flex;
}

.bottom-menu ul li {
  position: relative;
  list-style: none;
  width: 60px;
  height: 60px;
  z-index: 1;
}

.bottom-menu ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
}

.bottom-menu ul li a .icon {
  position: relative;
  display: block;
  line-height: 70px;
  text-align: center;
  transition: 0.5s;
}

.bottom-menu ul li a .icon .MuiSvgIcon-root {
  font-size: 26px;
  color: #373848;
}

.bottom-menu ul li.active a .icon {
  transform: translateY(-26px);
}

.bottom-menu ul li.active a .icon .MuiSvgIcon-root {
  color: #faf9fb;
  transition: 0.5s;
}

.indicator {
  position: absolute;
  height: 60px;
  width: 60px;
  background: #f8901c;
  top: -50%;
  border-radius: 50%;
  border: 6px solid #faf9fb;
  transition: 0.5s;
}

.indicator::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -20px;
  width: 18px;
  height: 18px;
  background: transparent;
  border-top-right-radius: 18px;
  box-shadow: 0px -10px 0 0 #faf9fb;
}

.indicator::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -20px;
  width: 18px;
  height: 18px;
  background: transparent;
  border-top-left-radius: 18px;
  box-shadow: 0px -10px 0 0 #faf9fb;
}

.bottom-menu ul li:nth-child(1).active~.indicator {
  transform: translateX(calc(60px * 0));
}

.bottom-menu ul li:nth-child(2).active~.indicator {
  transform: translateX(calc(60px * 1));
}

.bottom-menu ul li:nth-child(3).active~.indicator {
  transform: translateX(calc(60px * 2));
}

.bottom-menu ul li:nth-child(4).active~.indicator {
  transform: translateX(calc(60px * 3));
}

.bottom-menu ul li:nth-child(5).active~.indicator {
  transform: translateX(calc(60px * 4));
}

.bottom-menu ul li:nth-child(6).active~.indicator {
  transform: translateX(calc(60px * 5));
}

/* Left menu styles ends*/